*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(background.jpg);
  scroll-behavior: smooth;
  background-size: cover;
  background-attachment: fixed;
}

.sidebar {
  top: 0;
  left: 0;
  bottom: 0;
  width: 110px;
  height: 100%;
  padding: 0 1.1rem;
  color: white;
  z-index: 2;
  transition: all 0.5s linear;
  background-color: #007980;
  position: fixed;
  overflow-y: auto;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.sidebar:hover{
  width: 240px;
  transition: 0.5s;
  overflow: hidden;
}
.logo {
  height: 80px;
  padding: 16px;
}

.sidemenu {
  height: 88%;
  position: relative;
  list-style: none;
  padding: 0;
}

.sidemenu li {
  padding: 1rem;
  margin: 8px 0;
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}
.sidemenu li:hover,
.active{
  background-color: #06c1ca;
}
.sidemenu a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.sidemenu a span {
  overflow: hidden;
}
.sidemenu i {
  font-size: 40px;
}
#logout-link {
  margin-top: 10rem;
  background-color:  #058990;
}

 /* Style the search container */
  


.news-item {
  background-color: white;
  border: 1px solid black;
  margin-top: 2rem;
  margin-bottom: 20px;
  border-radius: 30px;
  padding: 10px;
  border: none;
}

.voting {
  align-items: center;
  position: relative;
  border: none;
  display: flex;
  justify-content: left;
  margin-left: 10px ;
  margin-top: 2rem;

}

.voting input{
  width:  0px;
  border: none;
  background: none;
  font-size: 15px;
  pointer-events: none;
  margin-left: 5px;
}
.likeCount{
  display: none;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 18px;
}
.likebtn {
  background: none;
  border: none;
  font-size: 30px;
  margin-top: 10px;
  cursor: pointer;
  margin: 0 5px; /* Adjust the margin to control the spacing */
}
.commentbtn {
  background: none;
  border: none;
  font-size: 30px;
  margin-top: 10px;
  cursor: pointer;
  margin-left: 9rem; /* Adjust the margin to control the spacing */
}

.likebtn:hover{
  color: #007980;
  transform: scale(1.1);
}

.deletebtn {
  margin-left: 20rem;
  margin-top: 10px;
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  font-size: 20px;
}

.likebtn .commentbtn{
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
}

button:active{
  color: darkgray;
  transform: scale(1.2);
  
  }   
.button{
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
}
.text{
  font-size: 20px;
}


/*new posts*/
.news-container {
    max-width: 78%;
    max-height: 100px;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 2rem;
    margin-left: 180px;
}
.news-items {
  display: inline;
  background-color: white;
  border: 1px solid black;
  margin-bottom: 1rem;
  border-radius: 30px;
  padding: 10px;
  border: none;
  display: none;
  }
  .userwritepost {
    margin-top: 20px;
    margin-left: 200px;
    width: 70px;
    height: 10px;
    padding: 20px;
    background-color: gray;
    border-radius: 10px;
    display: inline-block;
  }
  
  .post-button {
      background-color: white;
      color: gray;
      border: none;
      border-radius: 30px;
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
  }
  .input-containers {
    margin-top: -40px;
    margin-left: 245px;
  }
  .text-input {
      flex: 1;
      padding: 10px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 30px;
      width: 80%;
      background-color: white;
  }
  .post-button {
      background-color: white;
      color: gray;
      border: none;
      border-radius: 30px;
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
  }