@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(background.jpg);
  scroll-behavior: smooth;
  background-size: cover;
  background-attachment: fixed;
}

.sidebar {
  top: 0;
  left: 0;
  bottom: 0;
  width: 110px;
  height: 100%;
  padding: 0 1.1rem;
  color: white;
  z-index: 2;
  transition: all 0.5s linear;
  background-color: #007980;
  position: fixed;
  overflow-y: auto;
}
.sidebar:hover{
  width: 240px;
  transition: 0.5s;
  overflow: hidden;
}
.logo {
  height: 80px;
  padding: 16px;
}

.sidemenu {
  height: 88%;
  position: relative;
  list-style: none;
  padding: 0;
}

.sidemenu li {
  padding: 1rem;
  margin: 8px 0;
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}
.sidemenu li:hover,
.active{
  background-color: #06c1ca;
}
.sidemenu a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.sidemenu a span {
  overflow: hidden;
}
.sidemenu i {
  font-size: 40px;
}



.container {
  text-align: center;

}

.header {
  padding-top: 30px;
  color: white;
  font-size: 20px;
  margin-left: 50px;
  line-height: 50px;
}

/* ///////////////////////////////////////////// */
.sub-container {
  max-width: 1200px;
  margin-left: 25rem;
  padding: 30px 0;
  display: grid;
  grid-template-columns: repeat( 3, 1fr);
  /* grid-template-columns: repeat(auto-fit,minmax(250px, 1fr)); */
  align-items: center;
  
}

.teams {
  margin: 10px;
  padding: 22px;
  width: 300px;
  cursor: pointer;
  transition: 0.4s;
  box-sizing: border-box;
  display: grid;
  /* grid-template-columns: repeat( 3, 1fr); */
  grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
  border-style: solid;
  border-color:rgb(255, 255, 255);
}

.teams:hover {
  border-radius: 40px;
}

.teams img {
  margin-left: 20px;
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.name {
  padding: 12px;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  color: gray;
}

.desig {
  font-style: italic;
  color: gray;
}

.about {
  margin: 20px 0;
  font-weight: lighter;
  color: gray;
}

.social-links {
  margin: 0px;
  color: gray;
}

.social-links a {
  display: inline-block;
  height: 30px;
  width: 30px;
  transition: .4s;
}

.social-links a:hover {
  transform: scale(1.5);
}
 
.social-links a i {
  color:gray;
}
#logout-link {
  margin-top: 10rem;
  background-color:  #058990;
}
@media screen and (max-width: 600px) {
  .teams {
      max-width: 100%;
  }
}